.navList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-transform: capitalize;

  li {
    padding: 0 10px;
  }

  a {
    transition: color 0.2s linear;

    &:hover,
    &.active {
      cursor: pointer;
      color: rgb(239, 68, 68);
    }
  }
}
