.navList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-transform: capitalize;

  li {
    padding: 0 10px;
    transition: color 0.2s linear;

    &:hover {
      color: rgb(239, 68, 68);
    }
  }
}
