.mask1 {
  -webkit-mask-image: url('/images/mask1.svg');
  mask-image: url('/images/mask1.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.imgHolder {
  background: url('/images/mask-bg.svg') no-repeat;
}

.skillsTable {
  th,
  td {
    border: 1px solid #000;
    padding: 0 15px;
  }

  th {
    width: 50%;
  }
}
