.mask1 {
  mask-image: url('/images/mask1.svg');
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  background-image: url('/images/pp.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
}

.imgHolder {
  background-image: url('/images/mask-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.skillsTable {
  th,
  td {
    border: 1px solid #000;
    padding: 0 15px;
  }

  th {
    width: 50%;
  }
}
